/* Maneesh's nav bar begins here */

#wrapper {
	width: 900px;
	height: 500px;
	margin: 0 auto;
}

.header-bar {
	width: 100%;
	height: fit;
	background-color: lightgray;
	opacity: .75;
	border-radius: 0 0 5px 5px;
	position: fixed;
	top: 0;
	left: 0;
}

.header-bar-box{
	height: 50px;
	width: fit;
	float: left;
	opacity: 1;
}

#logo {
	margin-left: 10px;
}

#nav {
	float: right;
	margin-right: 10px;
}

#mainwrap {
	width: 900px;
	margin: 0 auto;
}

#title {
	font-size: 12em;
	text-align: center;
}